<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Year</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <ul class="cars">
        <li ng-repeat="car in $ctrl.cars | filter:$ctrl.query">
          <p class="car_name">{{car.name | uppercase}}</p>
          <img ng-src="{{car.img_url}}" alt="{{car.name}}" class="box-shadow"/>
        </li>
      </ul>

    </div>
  </div>
</div>
